.cardWrapper {
    width: 35rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 1rem 0;
}
.container {
    width: 30rem;
    margin: 0 auto;
}

.p {
    display: -webkit-box;
    position: relative;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: none;
  	overflow: hidden;
}

.p::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "Read More...";
    padding: 0.1rem 0.2rem;
    padding-left: 2.5rem;
    background: linear-gradient(to right, transparent 10%, #ffffff 30%, #ffffff);
    color: green;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s ease;
}

.p::after:hover {
    color: rgba(0, 128, 0, 0.603);
}