.button {
    padding: 0.5rem 1rem;
    background-color: #4c5b00;
    color: #fff;
    border-radius: 5px;
    width: 8rem;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 720px){
    .button{
        width: 12rem;
        padding: 1.25rem;
        font-size: 24px;
    }
}