.HeroLander {
    background-image: url(../../Resources/hero_image.png);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    padding: 8rem;
    height: 100vh;
    overflow-x: hidden;
    width: 95%;
    z-index: 2;
}

.bigText {
    font-size: 8rem;
    line-height: 1;
    color: #4c5b00;
}
.smallText {
    font-size: larger;
}

@media screen  and (max-width: 1214px){
    .HeroLander{
        padding: 2rem;
    }
    .bigText{
        line-height: 1.3;
        position: relative;
        z-index: 2;
    }
}
@media screen  and (max-width: 415px){
    .bigText{
        line-height: 1.3;
        font-size: 4rem;
    }
    .smallText{
        font-size: 1rem;
    }
}