.container {
    position: relative;
}
h2 {
    margin-bottom: 0.4em;
}
.form {
    width: 30em;
    height: 23em;
    padding: 2em;
    position: absolute;
    border-radius: 0.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

span {
    color: #b04b01
}
button {

    align-self: center;
    background: #4c5b00;
    font-size: 1em;
    border-style: none;
    color: #fff;
    width: 100%;
    height: 2.3em;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background: #556601;
}
.smallText {
    margin-top: 1em;
    font-size: 0.8em;
}
.link {
    text-decoration: none;
    color: #4c5b00;
}
